<!DOCTYPE html>
<html ng-app="TopOutApp">
  <head>
    <meta charset="utf-8">
    <title>TopOut</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.css">
    <script src="../semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="/js/app.routes.js"></script>
    <script src="/js/authService.js"></script>
    <script src="/controllers/mainCtrl.js"></script>
  </head>
  <body>

<div ng-view></div>
  </body>
</html>
