<!-- Semantic for tabs -->
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Log In!</a>
  <a class="item" data-tab="second">Sign Up!</a>
</div>
<!-- data under login tab -->
<div class="ui bottom attached tab segment active" data-tab="first">
	<h1>Login</h1>
	<form>
		<div class="form-group">
			<label>Email</label>
			<input placeholder="Email" type="text" class="form-control" >
		</div>
		<div class="form-group">
			<label>Password</label>
			<input placeholder="Password" type="password" class="form-control" >
		</div>
		<button type="submit" class="btn btn-block btn-primary">
			<span >Login</span>
		</button>
	</form>
</div>
<!-- data under sign up tab -->
<div class="ui bottom attached tab segment" data-tab="second">
	<h1>Sign Up!</h1>
	<form>
    <div class="form-group">
      <label>Name</label>
      <input placeholder="Name" type="text" class="form-control">
    </div>
		<div class="form-group">
			<label>Email</label>
			<input placeholder="Email" type="text" class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input placeholder="Password" type="password" class="form-control">
		</div>
		<button type="submit" class="btn btn-block btn-primary">
			<span>Sign Up</span>
		</button>
	</form>
</div>

<!-- script for activating tabs on click -->
<script>
$('.menu .item')
  .tab()
</script>
